 /* html {
    margin-bottom: 4rem;
    margin: 0;
    padding: 0;
    font-family: europa, sans-serif;
  }
   */
  /* --------------------Navbar--------------------- */
  
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: white;
    color: black;
  }
  
  .navbarbrand a {
    font-weight: 500;
    font-size: 2.25em;
    padding: 0 1.25rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    list-style: none;
  }
  
  .navbarbrand {
    margin: 4rem auto;
  }
  
  .navbarbrand b {
    font-weight: 700;
    letter-spacing: 1.2px;
  }

  .navbarmenu {
    display: flex;
    padding-left: 1rem;
    border: 1px solid #e2e2e2;
    width: 100vw; 
    height: 64px;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  
  .navbaritem {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #555;
    text-decoration: none;
    font-size: 1em;
    text-transform: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    padding: 0 1.75rem;
    height: 64px;
  }
  
  .activenav {
    color: #333029;
  }
  
  #usericon {
    width: 29px;
    height: 29px;
    margin-right: 0.5rem;
  }

  .navbaritem a {
    font-family: proxima-nova, sans-serif;
  }