 /* html {
    margin-bottom: 4rem;
    margin: 0;
    padding: 0;
    font-family: europa, sans-serif;
  }
   */
  /* --------------------Navbar--------------------- */
  
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: white;
    color: black;
  }
  
  .navbarbrand a {
    font-weight: 500;
    font-size: 2.25em;
    padding: 0 1.25rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    list-style: none;
  }
  
  .navbarbrand {
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbarbrand b {
    letter-spacing: 1px;
    font-family: ltc-caslon-pro,serif;
    font-weight: 700;
    font-style: normal;
  }

  .navbarmenu {
    display: flex;
    border: 1px solid #e2e2e2;
    width: 100vw; 
    height: 64px;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  
  .navbaritem {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #555;
    text-decoration: none;
    font-size: 1em;
    text-transform: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    padding: 0 2.3rem;
    height: 64px;
  }

  .navbaritemuser {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: #555;
    text-decoration: none;
    font-size: 1em;
    text-transform: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    padding: 0 2.3rem 0 0.3rem;
    height: 64px;
  }

  .useritem {
    margin-left: 0.5rem;
  }
  
  .activenav {
    color: #333029;
  }

  .navbar img {
    margin: 19.5px 0 19.5px 1.9rem;
    display: flex;
    justify-self: center;
    align-items: center;
  }

  .navbaritem a {
    font-family: proxima-nova, sans-serif;
  }