* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-size: 5em;
}

button {
  cursor: pointer;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: brown;
  color: white;
}

nav button {
  height: 3rem;
  padding: 0.5rem 1rem;
  margin: 0;
  margin-right: 2rem; 
}

/* SHOP */

.Container {
  width: 75vw;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
}

/* Paintings */

.Item {
  margin: 1.5rem 2rem;
  border: 1px solid red;
}

.Painting {
  padding: 150px 110px;
  border: 2px red solid;
  border-radius: 5px;
}

.Item-Details {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
}

h4 {
  font-size: 1.5em;
}

.Item-Details p {
  font-size: 0.9em;
  margin-bottom: 1rem;
}

.Item-Details h4, p {
  padding-bottom: 0.25rem;
}

.AddCartBtn {
  width: 5rem;
  height: 2rem;
  background-color: rgb(208, 108, 108);
}

.InfoBtn {
  width: 4rem;
  height: 2rem;
  background-color: lightgray;
}

.AddCartBtn,
.InfoBtn {
  border: none;
  border-radius: 5px;
  color: white;
}

.Item-Btns {
  display: flex;
  justify-content: space-between;
}


.Item img {
  max-width: 200px;
}