* {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

/* --------------------Navbar--------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: brown;
  color: white;
}

.navbar-brand b {
  font-family: 'Parisienne', cursive;
  font-size: 2em;
  padding: 0 1.25rem;
}

.navbar-menu {
  display: flex;
  padding: 0 0.25rem;
}

.navbar-item {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-right: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: none;
}

.active-nav {
  color: white;
  border-bottom: 1px solid white;
}

/* --------------------Pages--------------------- */

.title-container {
  display: flex;
  justify-content: center;
  background-color: rgba(211, 211, 211, 0.431);
}

.page-title {
  padding: 3rem 0;
  font-size: 1.75em;
}

/* --------------------Products--------------------- */


.painting-image img {
  max-width: 25rem;
  border: 25px outset brown;
}

.painting-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.painting-container {
  margin: 2rem auto;
  padding-bottom: 3rem;
  border-bottom: 1px lightgray solid;
}

.painting-title {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 800;
}

.painting-artist {
  font-size: 1.1em;
  font-weight: 500;
}

.painting-title,
.painting-artist,
.painting-price {
  margin-bottom: 0.2rem;
}

.painting-text {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.painting-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  padding: 0.7rem 0.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

.painting-buttons button {
  margin: 0;
}

.add-to-cart {
  background-color: rgb(255, 72, 72);
  color: white;
}

.more-info {
  background-color: rgb(170, 170, 170);
  color: white;
}