* {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

/* --------------------Navbar--------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: brown;
  color: white;
}

.navbar-brand b {
  font-family: 'Parisienne', cursive;
  font-size: 2em;
  padding: 0 1.25rem;
}

.navbar-menu {
  display: flex;
  padding: 0 0.25rem;
}

.navbar-item {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-right: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: none;
}

.active-nav {
  color: white;
  border-bottom: 1px solid white;
}

/* --------------------Pages--------------------- */

.title-container {
  display: flex;
  justify-content: center;
  background-color: rgba(211, 211, 211, 0.431);
}

.page-title {
  padding: 3rem 0;
  font-size: 1.75em;
}

/* --------------------Products--------------------- */


.painting-image img {
  max-width: 19rem;
  max-height: 17rem;
  border: 15px outset brown;
}

.painting-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.painting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0.5rem;
  margin: 1.5rem;
  width: 25rem;
  height: 30rem;
  background-color: rgba(236, 236, 236, 0.956);
  border-bottom: 1px lightgray solid;
}

.painting-title {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 800;
}

.painting-artist {
  font-size: 1.1em;
  font-weight: 500;
}

.painting-price {
  font-size: 1.4em;
}

.painting-title,
.painting-artist,
.painting-price {
  margin-bottom: 0.2rem;
}

.painting-text {
  margin-top: 1rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
}

.painting-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.painting-buttons button {
  padding: 0.7rem 0.5rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

.painting-buttons button {
  margin: 0;
}

.add-to-cart {
  background-color: rgb(255, 72, 72);
  color: white;
}

.more-info {
  background-color: rgb(170, 170, 170);
  color: white;
}

/* --------------------Cart--------------------- */

.cart-container {
  display: flex;
  margin-top: 2rem;
}

.cart-categories {
  display: flex;
  width: 95%;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.category-price {
  margin-left: 90.5%;
}

.cartitems {
  width: 75%;
}

.cartitem-right {
  display: flex;
}

.cartitem-row {
  display: flex;
  justify-content: space-between;
}

.cartitem-image img {
  max-width: 13rem;
  max-height: 11rem;
  margin: 0 1rem;
  border: 10px outset brown;
}

.cartitem-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartitem-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.5rem 0.5rem;
  margin-bottom: 2rem;
  height: 12rem;
  border-bottom: 1px lightgray solid;
}

.cartitem-title {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 800;
}

.cartitem-artist {
  font-size: 1.1em;
  font-weight: 500;
}

.cartitem-price {
  font-size: 1.1em;
  display:flex;
  flex-direction: column;
  margin-right: 1rem;
}

.cartitem-title,
.cartitem-artist,
.cartitem-price {
  margin-bottom: 0.2rem;
}

.cartitem-text {
  width: 22rem;
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}

.cartitem-buttons {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.cartitem-buttons button {
  padding: 0.2rem 0.3rem;
  margin-right: 0.5rem;
  border: 1px solid rgba(155, 155, 155, 0.539);
}

.cartitem-info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.total-container {
  width: 20%;
  background-color: rgba(236, 236, 236, 0.956);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.checkout-button {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0;
  margin: 1rem auto;
  font-size: 1em;
  box-shadow: 0px 3px rgba(170, 170, 170, 0.378);
}

.total-text {
  margin-top: 1rem;
  font-size: 1em;
}

.total-amount {
  font-size: 1.5em;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}

.crossout {
  text-decoration: line-through;
  color: gray;
}

.free {
  display: none;
}

.checkbox-container label {
  padding-left: 0.3rem;
}

/* --------------------More Info--------------------- */

.info-container {
  display: flex;
  margin: 2rem;
}

.info-image img {
  max-width: 50vw;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-text {
  margin: 0 2rem;
}

.info-buttons {
  margin: 2rem 2rem;
}

.info-text>* {
  padding: 0.1rem 0;
}

.info-text h1 {
  font-size: 1.7em;
}

.info-text p {
  margin: 1rem 0;
}

.info-stock-price {
  display: flex;
  flex-direction: column;
}

.info-buttons button {
  margin-right: 1rem;
}

.info-buttons a {
  text-decoration: none;
  color: white;
  background-color: gray;
}

.info-buttons button,
.info-buttons a {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

/* --------------------About--------------------- */

.about-container {
  margin: 2rem 2rem;
  text-align: center;
}

.about-container p {
  margin: 1rem 7rem 3rem 7rem;
}

.about-container a {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  text-decoration: none;
  color: white;
  background-color: gray;
}